
.quiz-question {
    display: none;
    padding: 30px;

    &.active {
        display: block;
    }
}

.quiz-section {
    display: none;
    padding: 30px;
}
.quiz-section.active {
    display: block;
}


.form-group {
    margin-bottom: 20px;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-border-lighter);
}


#question-text {
    font-size: 22px;
    margin-bottom: 24px;
}

#feedback-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    &.incorrect {
        color: var(--color-incorrect-border);
        background-color: var(--color-incorrect-bg);
    }
    &.correct {
        color: var(--color-correct-border);
        background-color: var(--color-correct-bg);
    }
}


.final-result {
    text-align: center;
    margin-bottom: 24px;
}


#result-precentage {
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
    color: var(--color-primary);
}


#result-actions {
    text-align: center;
}


.hidden {
    display: none;
}


.fade-out {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}


.countdown {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    margin-top: 20px;
}


.favorite-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    .add-favorite {
        filter: grayscale(1);
        transition: all 0.3s;
        cursor: pointer;

        &.hover {
            filter: grayscale(0.4);
        }
    }

    .added-favorite {
        filter: grayscale(0);
        transition: all 0.3s;
        cursor: poiner;

        &:hover {
            filter: grayscale(0);
        }
    }
}



